* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}
.square {
  width: 90px;
  height: 90px;
  border: 1px solid darkblue;
  background-color: white;
  font-size: 45px;
  color: rgba(45, 0, 56, 0.801);
  font-weight: bold;
  cursor: pointer;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  /* border: 1px solid red; */
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
}